<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-amr"
	version="0.0.1">
      
    <name>Cordova AMR Plugin</name>
	<description>Admost Mediation Router plugin.</description>
	<author>Kokteyl</author>
	<license></license>
	<keywords>admob, google, cordova-ios, cordova-android, ecosystem:cordova, android, ios, money, monetization, play, win, earn, publicity, advertisment, advertising, ads, ad, eclipse, android studio, cordova-amr, amr</keywords>
    <repo>https://github.com/cemcatikkas/cordova-plugin-amr.git</repo>
    <issue>https://github.com/cemcatikkas/cordova-plugin-amr/issues</issue>

	<engines>
	    <engine name="cordova" version=">=3.0" />
	</engines>

    <js-module src="www/Amr.js" name="Amr">
        <clobbers target="window.plugins.Amr" />
    </js-module>

	
    <!-- android -->
    <!-- android, now build with gradle instead of ant -->
    <platform name="android">
		<framework src="com.google.android.gms:play-services-base:+" />
		<framework src="com.google.android.gms:play-services-ads:+" />
		<framework src="src/android/gradle/amr.gradle" custom="true" type="gradleReference" />
		
		<resource-file src="src/android/libs/admost-sdk.aar" target="libs/admost-sdk.aar" />
		<resource-file src="src/android/libs/AudienceNetwork.aar" target="libs/AudienceNetwork.aar" />
		<resource-file src="src/android/libs/android-support-v7-recyclerview.jar" target="libs/android-support-v7-recyclerview.jar" />			    
		<resource-file src="src/android/libs/unity-ads.aar" target="libs/unity-ads.aar" />		
		<resource-file src="src/android/libs/mm-ad-sdk.aar" target="libs/mm-ad-sdk.aar" />		
		<resource-file src="src/android/libs/AdFalconAndroidSDK3.2.0.jar" target="libs/AdFalconAndroidSDK3.2.0.jar" />		
		<resource-file src="src/android/libs/NativeXMonetizationSDK_v5.5.7.1.jar" target="libs/NativeXMonetizationSDK_v5.5.7.1.jar" />		
		<resource-file src="src/android/libs/RFMSDK.jar" target="libs/RFMSDK.jar" />		
		<resource-file src="src/android/libs/SOMAAndroidSDK5.0.8.jar" target="libs/SOMAAndroidSDK5.0.8.jar" />		
		<resource-file src="src/android/libs/StartAppInApp-3.5.2.jar" target="libs/StartAppInApp-3.5.2.jar" />		
		<resource-file src="src/android/libs/conversant-android-sdk-2.4.2.jar" target="libs/conversant-android-sdk-2.4.2.jar" />		
		<resource-file src="src/android/libs/heyzap-unified-platform-10.2.0.jar" target="libs/heyzap-unified-platform-10.2.0.jar" />		
		<resource-file src="src/android/libs/io.display.sdk-1.2.1.jar" target="libs/io.display.sdk-1.2.1.jar" />		
		<resource-file src="src/android/libs/tapjoy-11.9.1.jar" target="libs/tapjoy-11.9.1.jar" />		
		<resource-file src="src/android/libs/revmob.jar" target="libs/revmob.jar" />		
		<resource-file src="src/android/libs/chartboost.jar" target="libs/chartboost.jar" />
		<resource-file src="src/android/libs/applovin-sdk-6.4.0.jar" target="libs/applovin-sdk-6.3.0.jar" />
		<resource-file src="src/android/libs/dagger-2.4.jar" target="libs/dagger-2.4.jar" />
		<resource-file src="src/android/libs/javax.inject-1.jar" target="libs/javax.inject-1.jar" />
		<resource-file src="src/android/libs/nineoldandroids-2.4.0.jar" target="libs/nineoldandroids-2.4.0.jar" />
		<resource-file src="src/android/libs/vungle-publisher-adaptive-id-4.0.2.jar" target="libs/vungle-publisher-adaptive-id-4.0.2.jar" />
		<resource-file src="src/android/libs/MobFox-Android-SDK-Core-3.0.0b.jar" target="libs/MobFox-Android-SDK-Core-3.0.0b.jar" />
		<resource-file src="src/android/libs/FlyMobSdk-1.7.0.jar" target="libs/FlyMobSdk-1.7.0.jar" />
	    		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
		    <receiver
					android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver"
					android:enabled="true"
					android:exported="true">
					<intent-filter>
						<action android:name="com.inmobi.share.id"/>
					</intent-filter>
				</receiver>

				<meta-data android:name="applovin.sdk.key"
			   android:value="LN_kr2mUpK0zI5JgqhgM2IW5FkVtb0pxOpeDsPifkic1owhcbM-efUlwDEnpFZkdNNrDnTtVFUW2ODe_ZceD6N"  />
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/*">
		    <uses-permission android:name="android.permission.INTERNET"/>
		    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
		  </config-file>

		<config-file target="res/xml/config.xml" parent="/*">
		    <feature name="Amr">
			<param name="android-package" value="com.amr.cordova.Amr"/>
			<param name="onload" value="true" />
		    </feature>
		</config-file>
		<source-file src="src/android/Amr.java" target-dir="src/com/amr/cordova" />

        <!-- cordova CLI using gradle and it's working well 
        <framework src="com.google.android.gms:play-services-ads:+" /> -->
        <!-- but unfortunately, build.phonegap.com, Intel XDK, and some other tools still use ant -->
        <!-- dependency id="cordova-plugin-googleplayservices"/ -->
     </platform>
</plugin>
